<h5><% @customers = @customers.each do |c| %></h5>
<h5><%= "Name: " + "#{c.name}" %></h5>
<h5><%= "Age: " + "#{c.age}" %></h5>
<h5><%= "Function: " + "#{c.function}" %></h5>
<h5><%= link_to "Show Customer", customer_path(c) %></h5>
<br>
<h5><% end %></h5>