<h5><%= "Name: " + "#{@customer.name}" %></h5>
<h5><%= "Age: " + "#{@customer.age}" %></h5>
<h5><%= "Function: " + "#{@customer.function}" %></h5>
<br>
<h5><%= link_to "All Customers", customers_path %></h5>